
.Navbar .bg-grass{
    background-color:rgb(181, 184, 20);
}

/* carousel */
/* .Carousel .my-component {
    background-image: url('../gambar/backgroundlatar.jpg');
    background-size: cover;
    background-position: center;
    
} */

.Carousel .logopokemon:hover{
    border-radius: 50px;
    animation: shake 5s;
    animation-iteration-count: initial;   
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-3deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

/* Card  */
 .bayangan {
    box-shadow: 15px 15px 8px #10461e;
    
}
 .bayangan:hover{
    box-shadow: 15px 15px 8px #02220b;
    animation: shake 1.5s;
    animation-iteration-count: initial;
    font-weight:500;
}


@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-3deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
   .pokemon-card {
    background-color: #fff;
    padding: 16px;
    text-align: center;
    
  }
  
   .normal {
    background-color: #a8a878;
  }
  
   .fire {
    background-color: #f08030;
  }
  
   .water {
    background-color: #6890f0;
  }
  
   .electric {
    background-color: #f8d030;
  }
  
   .grass {
    background-color: #78c850;
  }
  
   .ice {
    background-color: #98d8d8;
  }
  
   .fighting {
    background-color: #c03028;
  }
  
   .poison {
    background-color: #a040a0;
  }
  
   .ground {
    background-color: #e0c068;
  }
  
   .flying {
    background-color: #a890f0;
  }
  
   .psychic {
    background-color: #f85888;
  }
  
   .bug {
    background-color: #a8b820;
  }
  
   .rock {
    background-color: #b8a038;
  }
  
   .ghost {
    background-color: #705898;
  }
  
   .dragon {
    background-color: #7038f8;
  }
  
   .dark {
    background-color: #705848;
  }
  
   .steel {
    background-color: #b8b8d0;
  }
  
   .fairy {
    background-color: #ee99ac;
  }
  

  /* cardDetail */
  /* .CardDetail .card-img-top {
    position: relative;
    z-index: 1;
  }
  
  .CardDetail .card-body {
    position: relative;
    margin-top: -50px;
    z-index: 2;
  } */
  